html{
  width: 100%;
}

::-moz-selection {
  background: #565656;
  color: #fff;
}

::selection {
  background: #565656;
  color: #fff;
}


body{
  font-family: 'Inter UI','raleway', 'Helvetica', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #2A242B;
  margin: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: #080F2A;
}

.header{
  text-align: left;
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
}

.logo{
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 99;
  display: inline-block;
}

.logo img{
    width: 60px;
    vertical-align: middle;
}

.logo span{
  margin-left: 20px;
  font-weight: 600;
}

.nav{
display: inline-block;
float: right;
margin-top: 62px;
margin-right: 50px;
}

.nav-item{
  margin-left: 35px;
}

.hero{
  text-align: center;
  margin-top: -20px;
  padding: 90px 30px 0px 30px;
  background: #fff;
}

h1{
  font-family: 'Silka', 'Helvetica', sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
}

h2{
  font-family: 'Silka', 'Helvetica', sans-serif;
}

.hero p{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  line-height: 30px;
}

.explanation
{
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  padding-top: 70px;
  background: #0029FF;

  background: rgba(251,230,255,0.35);
  border-top: 1px solid #D600FB;
  border-bottom: 1px solid #D600FB;
  padding: 120px 30px 120px 30px;
}

.explanation-text-container{
  display: inline-block;
width: 500px;
text-align: left;
margin-left: 130px;
}

.explanation-text-container p{
  line-height: 30px;
}

.small-video-container{
  background: url(img/smalldemo-bg.png);
  background-size: 345px 350px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  min-width: 345px;
  position: relative;
  display: inline-block;
}

.small-video-container img.gif{
  margin-top: 70px;
}

.sketch-logo{
  position: absolute;
  bottom: 70px;
  left: 10px;
}

.sketch-logo img{
  width: 50px;
}

.features{
  margin: 0 auto;
  text-align: center;
  background: #fff;
  overflow: auto;
  padding-top: 110px;
  padding-bottom: 50px;
}

.features-graphic{
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.features-graphic img{
  max-width: 317px;
}

.features-text{
  display: inline-block;
  text-align: left;
  padding-left: 50px;
}

.features-text ul{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.features-text li{
  list-style-type: square;
  margin-top:30px;
}

.kits, .awards{
  text-align: left;
  padding: 90px 30px 0px 30px;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 28px;
}

.kits span{
font-size: 12px;
color: #DC25FB;
}

.kits p{
  max-width: 70%;
}

.kits h2{
  margin-top: 8px;
}

.kits img{
  display: inline;
  max-width: 535px;
  width: 46%;
  margin: 0 15px;
  margin-top: 30px;
}

.awards{
margin-top: 100px;
}

.medals{
  display: inline-block;
  width: 50%;
  max-width: 600px;
}

.medal img{
  vertical-align: middle;
  margin-right: 30px;
}

.medal p{
  display: inline-block;
}

.medal{
  margin-top: 30px;
}

.quote{
  border-left: 3px solid #F6F7F7;
  display: inline-block;
  width: 30%;
  max-width: 300px;
  padding-left: 40px;
  margin-left: 5%;
  min-height: 150px;
  padding-top: 30px;
}

.quote .author{
  display: block;
  margin-top: 15px;
  color: #DC25FB;
  font-size: 13px;
  line-height: 22px;
}

h4{
  margin-bottom: 10px;
}

.feature p{
  line-height: 22px;
  margin-top: 3px;
  margin-bottom: 0;
}

hr{
  border: 1px solid rgba(3,0,110,0.04);
  max-width: 800px;
}

.feature{
  width: 250px;
  display: inline-block;
  text-align: left;
  height: 140px;
  font-size: 14px;
  margin-top: 35px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
  padding-top:20px;
}

.feature img{
  width: 289px;
}


.btn{
  font-family: 'Space Mono';
  padding: 4px 8px;
  margin: 0px 4px;
  border-radius: 3px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #284AFF;
  box-shadow: inset 0 -1px 0 0 rgba(3,0,110,0.13);
  font-size: 14px;
  color: #284AFF;
}

.ctas{
  margin-top: 30px;
  position: relative;
}

.button-free, .button-pro{
  position: relative;
  padding: 20px 14px;
  width: 200px;
  display: inline-block;
  margin: 3px;
  font-size: 13px;
  font-weight: 600px;
  border-radius: 4px;
  transition: 0.3s all;
  font-family: 'Space Mono';
  color: #fff;
}

.button-pro{
  background: #284AFF;
}
.button-pro:hover{
  background: #3C5BFF;
}

.button-free{
  background: rgba(251,230,255,0.35);

  -webkit-box-shadow:inset 0px 0px 0px 1px #D600FB;
  -moz-box-shadow:inset 0px 0px 0px 1px #D600FB;
  box-shadow:inset 0px 0px 0px 1px #D600FB;


  /* border: 1px solid #D600FB; */
  color: #D600FB;
}

.button-free:hover{
  background: rgba(251,230,255,0.6);
}

.badge-free, .badge-pro{
  display: inline-block;
  padding: 4px 8px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  margin-top: 7px;
}

.badge-pro{
  border: 1px solid #284AFF;
  margin-top: 12px;
  color: #284AFF;
}

.badge-free{
  border: 1px solid #FF00CC;
  margin-top: 12px;
  color: #FF00CC;
}

.fliptext{
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-7px;
  margin-left:-45px;

}

.price{
  opacity: 0.7;
}

.footer{
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom:90px;
  margin-top: 200px;
  padding-left: 30px;
  padding-right: 30px;

  background: rgba(251,230,255,0.35);
  border-top: 1px solid #D600FB;
}

.footer a{
  text-decoration: underline;
  transition: 0.5s all;
}

.footer a:hover, .footer h2{
  color: #FF00B4;
}

.footer-container{
  line-height: 30px;
  max-width: 700px;
  margin: 0 auto;
}


@media (max-width: 850px) {

  .logo{
    top: 25px;
    left: 25px;
  }

  .nav{
    display: none;
  }

  .hero{
    padding: 130px 10px 90px 10px;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 14px;
  }
  .iframe-vimeo{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 0;
  }

  .videocontainer{
    position: relative;
    margin-top: 40px;
     overflow: hidden;
     padding-top: 56.25%;
  }

  .feature{
    display: block;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .footer{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 60px;
  }

  .explanation{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .explanation-text-container{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: auto;
}

.features-graphic{
  display: block;
  text-align: center;
}

.kits{
  text-align: center;
  padding-top: 40px;
}

.kits img{
  display: inline;
  max-width: 535px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.kits p{
  margin: 0 auto;
  width: 100%;
}

.awards{
  margin-top: 30px;
  padding-top: 70px;
}

.medals{
  display: block;
  width: 100%;
}

.quote{
  width: 100%;
}

}
