html{
  width: 100%;
}

body{
  font-family: 'raleway', 'Helvetica', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #121D47;
  margin: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: #080F2A;
}

.header{
  text-align: left;
}

.logo{
  position: fixed;
  left: 50px;
  top: 50px;
  width: 60px;
  z-index: 99;
}

.hero{
  text-align: center;
  margin-top: -20px;
  color: #fff;
  padding: 150px 30px 0px 30px;
  background: #232323;
}

h1{
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
}

h2{
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

.hero p{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  line-height: 30px;
}

.explanation
{
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  padding-top: 70px;
  background: #0029FF;
  color: #fff;
  padding: 120px 30px 120px 30px;
}

.explanation h2{
  color: #fff;
}

.explanation-text-container{
  display: inline-block;
width: 500px;
text-align: left;
margin-left: 130px;
}

.explanation-text-container p{
  line-height: 30px;
}

.small-video-container{
  background: url(img/smalldemo-bg.png);
  background-size: 245px 250px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
  min-width: 245px;
  position: relative;
  display: inline-block;
}

.small-video-container video{
  margin-top: 30px;
}

.sketch-logo{
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.sketch-logo img{
  width: 50px;
}

.title-container{
  background: url('img/elements-bg.png');
  background-size: 489px 251px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 251px;
  position: relative;
}

.features-text-container h2{
  color: #284AFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -135px;
}

.features-text-container{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.features{
  margin: 0 auto;
  text-align: center;
  background: #fff;
  overflow: auto;
  padding-top: 70px;
}

.features-text-container p{
  line-height: 35px;
  width: 100%;
  max-width: 1300px;
  display: inline;
  margin: 0 auto;
}

h4{
  margin-bottom: 10px;
}

.feature p{
  line-height: 22px;
  margin-top: 3px;
  margin-bottom: 0;
}

hr{
  border: 1px solid rgba(3,0,110,0.04);
  max-width: 800px;
}

.feature{
  width: 250px;
  display: inline-block;
  text-align: left;
  height: 140px;
  font-size: 14px;
  margin-top: 35px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
  padding-top:20px;
}

.feature img{
  width: 289px;
}


.btn{
  font-family: 'Space Mono';
  padding: 4px 8px;
  margin: 0px 4px;
  border-radius: 3px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #284AFF;
  box-shadow: inset 0 -1px 0 0 rgba(3,0,110,0.13);
  font-size: 14px;
  color: #284AFF;
}

.ctas{
  margin-top: 30px;
  position: relative;
}

.button-free, .button-pro{
  position: relative;
  padding: 20px 14px;
  width: 200px;
  display: inline-block;
  margin: 3px;
  font-size: 13px;
  font-weight: 600px;
  border-radius: 4px;
  transition: 0.3s all;
  font-family: 'Space Mono';
  color: #fff;
}

.button-pro{
  background: #284AFF;
}
.button-pro:hover{
  background: #3C5BFF;
}

.button-free{
  background: rgba(255,255,255,0.13);
}
.button-free:hover{
  background: rgba(255,255,255,0.20);
}

.badge-free, .badge-pro{
  display: inline-block;
  padding: 4px 8px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  margin-top: 7px;
}

.badge-pro{
  border: 1px solid #284AFF;
  margin-top: 12px;
  color: #284AFF;
}

.badge-free{
  border: 1px solid #FF00CC;
  margin-top: 12px;
  color: #FF00CC;
}

.fliptext{
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-7px;
  margin-left:-45px;

}

.price{
  opacity: 0.7;
}


.footer{
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom:90px;
  margin-top: 80px;
  background: rgba(255,0,180,0.05);
  border-top: 1px solid #FF00B4;
  padding-left: 30px;
  padding-right: 30px;
}

.footer a{
  text-decoration: underline;
  transition: 0.5s all;
}

.footer a:hover, .footer h2{
  color: #FF00B4;
}

.footer-container{
  line-height: 30px;
  max-width: 700px;
  margin: 0 auto;
}


@media (max-width: 850px) {

  .logo{
    top: 25px;
    left: 25px;
  }
  .hero{
    padding: 130px 10px 90px 10px;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 14px;
  }
  .iframe-vimeo{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 0;
  }

  .videocontainer{
    position: relative;
    margin-top: 40px;
     overflow: hidden;
     padding-top: 56.25%;
  }

  .feature{
    display: block;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .footer{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 60px;
  }

  .explanation{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .explanation-text-container{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: auto;
}

}
